*
    // background: blue
    //  position: relative;

.container
    width: 1280px 
    height: 1372px 
    background: #F0F0F0 0% 0% no-repeat padding-box 
    opacity: 1 
    margin-left: auto
    margin-right: auto
    display: flex;

.title
    width: 350px 
    height: 366px 
    opacity: 1
    border: 2px black solid
    display: flex;
    flex-direction: column;

    .linbox
        display: flex;
        .cross
            text-align: left;
            font: Regular 24px/24px Helvetica Neue;
            letter-spacing: 0;
            color: #2EB738;
            margin: 10px
            opacity: 1; 
            width: 14px 
            height: 28px

        .line
            width: 280px;
            height: 0px;
            border: 1px solid #2EB738;
            opacity: 1;
            margin: 20px
            // margin-top: 20px
    .bottom
        margin-top: 100px

    .text-top
        margin-top: 70px

    .text
        text-align: center;
        font: Medium PingFang TC;
        font-size: 56px
        letter-spacing: 0;
        color: #2EB738;
        opacity: 1;
    .englsh
        font-size: 24px



.card
    width: 350px 
    height: 366px 
    background: #FFFFFF 0% 0% no-repeat padding-box 
    box-shadow: 0px 3px 10px #D8D8D8 
    border-radius: 100px 0px 30px 0px 
    opacity: 1 